@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

:root {
  font-family: 'Poppins', system-ui, sans-serif;
  color: rgba(255, 255, 255, 0.88);
  background-color: #000b42;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 30px;
  flex: 1;
}

h1 {
  text-align: center;
  font-size: 40px;
  line-height: 1.1;
  padding: 0 20px;
}

#app {
  display: flex;
  flex-direction: column;
  gap: 50px;
  min-height: 100vh;
  padding-top: 50px;
}

footer {
  background-color: #144365;
  padding: 1rem;
  text-align: center;
}

a {
  text-decoration: none;
  color: inherit;
}

.menu {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
  gap: 30px;
}

.menu-item {
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  background-color: #a8d3ff;
  color: #000b42;
  box-shadow: 0px 2px 1px 0px rgba(228, 243, 255, 1);
  transition: all 0.3s ease;
  cursor: pointer;
}

.menu-item:hover {
  transform: scale(1.05) translateY(-10px);
  box-shadow: 0px 5px 5px 0px rgba(228, 243, 255, 1);
}

.menu-item img {
  width: 100%;
  height: auto;
  border-radius: 20px 20px 0 0;
  object-fit: cover;
}

.menu-item>strong {
  font-size: 25px;
  padding: 15px 25px;
  text-align: center;
}

.subtopic {
  font-size: 30px;
  font-weight: 600;
}

.text {
  font-size: 19px;
  text-wrap: pretty;
  margin-top: 10px;
}

.topic-figure {
  display: flex;
  justify-content: center;
  max-width: 700px;
  margin: 0 auto;
}

.topic-img {
  max-width: 100%;
  border-radius: 20px;
  margin-top: 25px;
}

.contenido {
  display: flex;
  flex-direction: column;
  gap: 80px;
  margin: initial;
  margin-left: 240px;
}

ul {
  font-size: 20px;
  padding-left: 60px;
}

ol {
  font-size: 20px;
  padding-left: 60px;
}

.layout {
  display: flex;
}

nav {
  position: fixed;
  top: 0;
  bottom: 0;
  overflow-x: hidden;
  width: 240px;
  border-right: 1px solid #706b6b;
}

nav>ol {
  font-size: 16px;
  padding: 50px 20px;
  list-style: none;
}

.center-cont {
  display: flex;
  width: 100%;
  justify-content: center;
}

@media only screen and (max-width: 750px) {
  nav {
    display: none
  }

  .contenido {
    margin: 0;
  }
}

.buttons {
  text-align: right;
  margin-top: 20px;
  text-align: right;
  width: 88%;
}

.buttons button {
  margin: 0 10px;
  padding: 10px 20px;
  font-size: 18px;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  background-color: #011f49;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s ease;
}